<div class="alert alert-info text-center" role="alert" *ngIf="loading">
  <h4 class="alert-heading">Cargando!</h4>
  <p>
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
  <p class="mb-0"></p>
</div>

<div class="alert alert-danger text-center" role="alert" *ngIf="error">
  <h4 class="alert-heading">Error!</h4>
  <p>
    {{ error | json }}
    <!-- <i class="fa fa-sync fa-spin fa-2x"></i> -->
  </p>
  <p class="mb-0"></p>
</div>

<div class="card-columns" *ngIf="!loading">
  <div class="card" *ngFor="let usr of usuarios">
    <img [src]="usr?.avatar" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ usr?.first_name }} {{ usr?.last_name }}</h5>
      <p class="card-text">{{ usr?.email }}</p>
      <p class="card-text">
        <span class="text-muted">ID: {{ usr?.id }}</span>
      </p>
    </div>
  </div>
</div>
