<div class="row">
  <div class="col 12">
    <div class="card-columns">
      <div class="card">
        <img [src]="usuario?.avatar" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            {{ usuario?.first_name }} {{ usuario?.last_name }}
          </h5>
          <p class="card-text">{{ usuario?.email }}</p>
          <p class="card-text">
            <span class="text-muted">ID: {{ usuario?.id }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
